<?xml version="1.0"?>
<config>
    <modules>
        <FasterPay_FasterPay>
            <version>1.0.0</version>
        </FasterPay_FasterPay>
    </modules>
    <frontend>
        <routers>
            <fasterpay>
                <use>standard</use>
                <args>
                    <module>FasterPay_FasterPay</module>
                    <frontName>fasterpay</frontName>
                </args>
            </fasterpay>
        </routers>
        <layout>
            <updates>
                <fasterpay>
                    <file>fasterpay.xml</file>
                </fasterpay>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <fasterpay>
                <class>FasterPay_FasterPay_Model</class>
            </fasterpay>
        </models>
        <blocks>
            <fasterpay>
                <class>FasterPay_FasterPay_Block</class>
            </fasterpay>
        </blocks>
        <helpers>
            <fasterpay>
                <class>FasterPay_FasterPay_Helper</class>
            </fasterpay>
        </helpers>
    </global>
    <default>
        <payment>
            <fasterpay_fasterpay>
                <title>FasterPay</title>
                <active>1</active>
                <model>fasterpay/method_fasterpay</model>
                <order_status>pending_payment</order_status>
                <fee_payer>buyer</fee_payer>
                <allowspecific>0</allowspecific>
                <fasterpay_istest>0</fasterpay_istest>
                <fasterpay_delivery>1</fasterpay_delivery>
                <debug_mode>0</debug_mode>
            </fasterpay_fasterpay>
        </payment>
    </default>
</config>
